<section class="section-data">
  <!-- <canvas id="background" class="canvas-bg"></canvas> -->
  <div id="background" class="canvas-bg"></div>
  <img class="data-bg" src="images/PENOBOARD.svg" alt="">
  <div class="container ">
    <h2>Арифметика успеха</h2>
    <div class="row row-data">
      <div class="col">
        <div class="circle one">
          <div class="title">Территория предприятия</div>
          <div class="data"><div class="counting" data-count="25000">0</div><span> м</span><span>2</span></div>
        </div>
      </div>
      <div class="col">
        <div class="circle two">
          <div class="title">на рынке</div>
          <div class="data"><span class="counting"  data-count="7">0</span><span>лет</span></div>
        </div>
      </div>
      <div class="col">
        <div class="circle three">
          <div class="title">Годовой объем производства</div>
          <div class="data"><div class="counting" data-count="180000">0</div><span> м</span><span>3</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
