$grid-columns: 12;
$grid-max-width: 65em;
$checkbox-width: 18px;


// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";
$h1: 36px;
